*.o
*.exe
.idea/*
*.idx
*.macos
src/libvictor.dylib
src/test_ld.c
src/testdb.macos.dSYM/Contents/Info.plist
src/testdb.macos.dSYM/Contents/Resources/Relocations/aarch64/testdb.macos.yml
src/dutil
victorpy.cpp
python/victor.hpp
python/libvictor.dylib
python/victor.cpython-311-darwin.so
python/victor.h
src/dutil.dSYM/Contents/Info.plist
src/dutil.dSYM/Contents/Resources/DWARF/dutil
src/dutil.dSYM/Contents/Resources/Relocations/aarch64/dutil.yml
python/binding.cpp
src/libvictor.a
src/mutate
src/mutate.dSYM/Contents/Info.plist
src/mutate.dSYM/Contents/Resources/DWARF/mutate
src/mutate.dSYM/Contents/Resources/Relocations/aarch64/mutate.yml
src/1.csv
src/2.csv
examples/base.fvecs
examples/dataset.fvecs
examples/export.c
examples/import.c
examples/ivf
examples/ivf.c
examples/recall.c
*.dylib
